$primarycolor: #8B4513;
$titlefont: 'Playfair Display', serif;
$contentfont: 'Lato', sans-serif;



*,
*::after,
*::before {
    box-sizing: border-box;

}

body {
    margin: 0;

}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.headerconteiner {
    // position: absolute;
    display: flex;
    width: 100%;
    height: 1024px;
    justify-content: center;
    background: url(/assets/img/banner.jpg) center center/cover no-repeat;

    &_products {
        display: flex;
        width: 1345px;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
        position: relative;
        
    }

    &_first-product {
        display: flex;
        background-color: #FFF;
        gap: 16px;
        align-items: center;
        flex-direction: row;
        width: 450px;
        height: 200px;
        position: absolute;
        bottom: 270px;

        &_info {
            color: #3E3E3E;
            font-family: $titlefont;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px; 
        }

    }

    &_second-product {
        display: flex;
        background-color: #FFF;
        gap: 16px;
        align-items: center;
        flex-direction: row;
        width: 450px;
        height: 200px;
        position: absolute;
        bottom: 47px;

        &_info {
            padding-left: 18px;
            color: #3E3E3E;
            font-family: $titlefont;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px; 
        }
    }

    &_first_product_image {
        align-items: center;
        display: flex;
    }

    &_second_product_image {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
    }
    
    &_product_name{
        margin: 0px;
    }

    &_product-price {
        color: #757575;
        font-family: $contentfont;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_product-shop-button {
        color: #3E3E3E;
        font-family: $contentfont;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.4px;
        text-decoration-line: underline;

    }
    
}
    

.topbar {
    display: flex;
    background-color: $primarycolor;
    height: 40px;
    width: 100%;
    justify-content:center;
    align-items: center;
    flex-direction: row;
   

    &_content {
        color: white;
        text-align: center;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;

    }
}

// .banner {

//     // display: flex;
//     // width: 100%;
//     // height: 1024px;
//     // flex-shrink: 0;
    

// }



.header {
    display: flex;
    align-items: center;
    width: 100%;
    position:relative;
    flex-direction: column;


    &_menubar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1345px;
    }
    

    &_logo_text {
        color: white;
        font-family:$titlefont;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;

    }

    &_logo_text:first-letter {
        color: $primarycolor;
        font-family: $titlefont;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;
        
    }


    &_menu {
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: center;


        &_items {
        display: flex;
        flex-direction: row;
        color: #FFF;
        font-family: $contentfont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        text-decoration: none;
        align-items: center;

        }
    }



}


.header_user-elements {
    display: flex;
    align-items: center;
    gap: 12px;



    &_input {
        display: flex;
        width: 214px;
        height: auto;
        padding: 20px 0px 20px 40px;
        align-items: flex-start;
        gap: 8px;
        background-color: #FAFAFA;
        background-image: url(assets/svg/search-icon.svg);
        background-position: 20px 20px;
        background-repeat: no-repeat;
        border: 0px;

    }
    &_input::placeholder {
        color: #B6B6B6;
        font-family: $contentfont;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}