$primarycolor: #8B4513;
$secondarycolor: #757575;
$contentcolor: #3E3E3E;
$titlefont: 'Playfair Display', serif;
$contentfont: 'Lato', sans-serif;



*,
*::after,
*::before {
    box-sizing: border-box;

}

body {
    margin: 0;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.logo_link {
    text-decoration: none;
}

.headerconteiner {
    // position: absolute;
    display: flex;
    width: 100%;
    height: 1024px;
    justify-content: center;
    background: url(/assets/img/banner.jpg) center center/cover no-repeat;

    &_products {
        display: flex;
        width: 1345px;
        flex-direction: row;
        justify-content: flex-end;
        height: 100%;
        position: relative;


    }

    &_first-product {
        display: flex;
        background-color: #FFF;
        gap: 16px;
        align-items: center;
        flex-direction: row;
        width: 450px;
        height: 200px;
        position: absolute;
        bottom: 270px;

        &_info {
            color: #3E3E3E;
            font-family: $titlefont;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
        }

    }

    &_second-product {
        display: flex;
        background-color: #FFF;
        gap: 16px;
        align-items: center;
        flex-direction: row;
        width: 450px;
        height: 200px;
        position: absolute;
        bottom: 47px;

        &_info {
            padding-left: 18px;
            color: $contentcolor;
            font-family: $titlefont;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
        }
    }

    &_first_product_image {
        align-items: center;
        display: flex;
    }

    &_second_product_image {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-grow: 1;
    }

    &_product_name {
        margin: 0px;
    }

    &_product-price {
        color: #757575;
        font-family: $contentfont;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &_product-shop-button {
        color: $contentcolor;
        font-family: $contentfont;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.4px;
        text-decoration-line: underline;

    }

}


.topbar {
    display: flex;
    background-color: $primarycolor;
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;

    &_closeicon{
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 20px;
        padding: 5px;
    }


    &_content {
        color: white;
        text-align: center;
        font-family: $contentfont;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;

    }
}




.header {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    flex-direction: column;


    &_menubar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 1345px;
    }


    &_logo_text {
        color: white;
        font-family: $titlefont;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;

    }

    &_logo_text:first-letter {
        color: $primarycolor;
        font-family: $titlefont;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        text-transform: uppercase;

    }


    &_menu {
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: center;


        &_items {
            display: flex;
            flex-direction: row;
            color: #FFF;
            font-family: $contentfont;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            text-decoration: none;
            align-items: center;

        }
    }

&_mobile_menu {
    display: none;
}

}

.menu_dropdown::after {

    content: url(assets/svg/menu-down-icon.svg);


}


.header_user-elements {
    display: flex;
    align-items: center;
    gap: 12px;



    &_input {
        display: flex;
        width: 214px;
        height: auto;
        padding: 20px 0px 20px 40px;
        align-items: flex-start;
        gap: 8px;
        background-color: #FAFAFA;
        background-image: url(assets/svg/search-icon.svg);
        background-position: 20px 20px;
        background-repeat: no-repeat;
        border: 0px;

    }

    &_input::placeholder {
        color: #B6B6B6;
        font-family: $contentfont;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


.mainpage_content {
    width: 1440px;
    padding: 64px 42px 0px 42px;
    margin-bottom: 100px;

    &_types {
        display: flex;
        flex-direction: row;
        width: 1356px;

        &_formal {
            display: flex;
            flex-direction: column;

            &_links {
                text-decoration: none;
            }
        }

        &_title {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left: 30px;
            color: #FFF;
            font-family: $titlefont;
            font-size: 48px;
            font-style: normal;
            font-weight: 500;
            line-height: 62.4px;
            text-transform: uppercase;

        }

        &_formal-main-section {
            display: flex;
            align-items: center;
            width: 666px;
            height: 374px;
            background: linear-gradient(0deg, rgba(139, 69, 19, 0.20) 0%, rgba(139, 69, 19, 0.20) 100%), url(assets/img/formal-woman.jpeg), lightgray 50%;
            background-position: center;
            background-size: cover;
            margin-bottom: 32px;
        }

        &_formal-men {
            display: flex;
            align-items: center;
            width: 666px;
            height: 374px;
            background: linear-gradient(0deg, rgba(139, 69, 19, 0.23) 0%, rgba(139, 69, 19, 0.23) 100%), url(assets/img/formal-men.jpg), lightgray 50%;
            background-position: center;
            background-size: cover;
        }

        &_casual-style {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 658px;
            height: 780px;
            margin-left: 32px;
            background: linear-gradient(0deg, rgba(139, 69, 19, 0.20) 0%, rgba(139, 69, 19, 0.20) 100%), url(assets/img/casual-style.jpg), lightgray 50%;
            background-position: center;
            background-size: cover;
        }
    }
}

.main-section-dress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    &_title {
        color: $contentcolor;
        font-family: $titlefont;
        font-size: 76px;
        font-style: normal;
        font-weight: 500;
        line-height: 98.8px;
        text-transform: uppercase;
        align-self: stretch;
    }

    &_products {
        display: flex;
        width: 1356px;
        justify-content: space-between;


    }



    &-product {
        width: 315px;
        height: 525px;
        position: relative;

        &_image {
            width: 315px;
            height: 420px;
        }

        &_stars {
            display: flex;
            flex-direction: row;
            width: 68px;
            height: 27px;
            padding: 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 4px;
            border-radius: 100px;
            background: #8B4513;
            position: absolute;
            right: 8px;
            top: 12px;

            &_icon {

                flex-direction: row;
                display: flex;
            }

            &_rating {
                display: flex;
                flex-direction: row;
                color: #FFF;
                font-family: $contentfont;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &_links {
            text-decoration: none;
        }

        &_info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
        }

        &_category {
            color: $secondarycolor;
            font-family: $titlefont;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            align-self: stretch;
            text-transform: uppercase;
            margin: 0px;
        }

        &_name {
            color: $contentcolor;
            font-family: $titlefont;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            text-transform: capitalize;
            align-self: stretch;
            margin: 0px;
        }

        &_price {
            color: $secondarycolor;
            font-family: Lato;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            align-self: stretch;
            margin: 0px;
        }
    }
}



.more-butn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 215px;
    height: 77px;
    background-color: $primarycolor;
    padding: 24px;
    align-items: center;
    gap: 8px;

}

.more-btn-text {

    color: #FFF;
    font-family: $contentfont;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;

}

.more-btn-text::after {
    content: url(assets/svg/arrow-small-right.svg);
    vertical-align: middle;
}


.services {

    display: flex;
    align-items: flex-start;
    gap: 32px;
    margin-top: 64px;


    &_icon {
        display: flex;
        width: 64px;
        height: 64px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 32px;
        background: $primarycolor;
    }

    &_satisfaction-payment {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        width: 336.5px;
        height: 392px;
        background-color: #F2F2F2;
        padding: 24px;


        &_content {
            background-color: #FFF;
            display: flex;
            padding: 24px;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            align-self: stretch;
            height: 344px;


        }
    }

    &_title {
        color: $contentcolor;
        text-align: center;
        font-family: $titlefont;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        align-self: stretch;
        line-height: 36px;
        margin: 0;
    }

    &_description {
        color: $secondarycolor;
        font-family: $contentfont;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.2px;
        align-self: center;


    }


    &_online-delivery {
        display: flex;
        width: 619px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;

        &_container {
            display: flex;
            padding: 24px;
            width: 619px;
            height: 180px;
            flex-direction: row;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            background: #F2F2F2;

            &_feature {
                display: flex;
                flex-direction: row;
                background-color: #FFF;
                padding: 24px;
                align-items: center;
                height: 132px;
            }

            &_content {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 16px;
                align-items: center;

                &_box {
                    display: flex;
                    flex-direction: column;

                    &_title {
                        color: #3E3E3E;
                        text-align: start;
                        font-family: $titlefont;
                        font-size: 28px;
                        font-style: normal;
                        font-weight: 400;
                        align-self: stretch;
                        line-height: 36px;
                        margin: 0;
                    }
                }

            }
        }
    }


}


.footer {
    display: flex;
    flex-direction: column;
    background: $primarycolor;
    height: 373px;
    width: 100%;
    align-items: center;
    margin: 100px 0px 0px 0px;
    justify-content: space-around;
    padding-bottom: 20px;

    &_conteiner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1356px;
        gap: 36px;
        color: #FFF;
    }

    &_logo {
        color: #FFF;
        font-family: $titlefont;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 62.4px;
        text-transform: uppercase;
        
        
    }
    &_contact{
        color: #FFF;
        font-family: $contentfont;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.2px;
    }

    &_menu {
        display: flex;
        flex-direction: row;
        gap: 42px;

        &_col{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            gap: 8px;
            
           
            &_title {
                text-decoration: none;
                color: #FFF;
                font-family: $contentfont;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 18.9px;
                margin-bottom: 10px;
               
            }
            
        }

    }
    
    &_items {
        text-decoration: none;
        color: #FFF;
        font-family: $contentfont;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.2px; 
    }

    &_copyright {
        display: flex;
        flex-direction: column;
        margin-top: 36px;

        &_text {
            color: #FFF;
            text-align: center;
            font-family: $contentfont;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 16.2px;
            margin: 0px;

        }
    }

   
}


@media screen and (max-width:420px) {

    .header_logo{
        width: 202px;
    }
    .header_menu_items {
        display: none;
    }

    .header_menubar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 380px;

    }

    .header_mobile_menu {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        // flex-grow: 1;
    }

    .header_mobile_menu::after {
        content: url(assets/svg/menu-down-icon.svg);
        
    }

    .header_user-elements {
        display: none;
    }

    .headerconteiner_products{
        display: none;
    }

    .mainpage_content{
        width: 360px;
        padding: 20px 5px 20px 5px;
        

        &_types{
            flex-direction: column;
            align-items: center;
            width: 360px;

            &_formal-main-section {
                width: 360px;
                height: 374px;
            }

            &_formal-men {
                width: 360px;
                height: 374px;
                margin-bottom: 32px;
            }

            &_casual-style{
            flex-direction: column;
            width: 360px;
            height: 374px;
            align-items: flex-start;
            margin-left: 0px;
            }

            &_title {
            font-size: 28px;
            line-height: 300px;
           
            }
        }

    }

    .main-section-dress {
        
        &_title {
            width:363px ;
            font-size: 38px;
            line-height: 49.4px;
            margin-left: 0;
        }

        &_products{
        width: 360px; 
            overflow: hidden;
            gap: 32px;
            
        }
    }

    .services {
        flex-direction: column;

        &_satisfaction-payment{
            width: 360px;
        }
        &_online-delivery_container {
            flex-direction: column;
            align-items: center;
            width: 360px;
            height: 392px;

        &_content{
            flex-direction: column;

            &_box_title {
                text-align: center;
            }
        }    
        

        &_feature{
            display: flex;
            flex-direction: column;
            height: 344px;
            align-items: center;
        }
    }
    }


    .footer {
        height:fit-content;
        margin:0px;

        &_conteiner {
            width: 380px;
            flex-direction: column;
            height:fit-content;
        }

        &_menu{
            flex-direction: column;
            padding: 0px 26px;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
        }

        &_logocontact {
            margin:30px;
            margin-bottom: 46px;
        

        }
    }

}